[submodule "public_html/lists/texts"]
	path = public_html/lists/texts
	url = git@github.com:phpList/phplist-lan-texts
[submodule "public_html/lists/admin/help"]
	path = public_html/lists/admin/help
	url = git@github.com:phpList/phplist-lan-help
[submodule "public_html/lists/admin/info"]
	path = public_html/lists/admin/info
	url = git@github.com:phpList/phplist-lan-info
[submodule "public_html/lists/admin/ui/dressprow"]
	path = public_html/lists/admin/ui/dressprow
	url = https://github.com/phpList/phplist-ui-dressprow.git
